absl-py==0.8.0
astor==0.8.0
blis==0.2.4
certifi==2019.6.16
chardet==3.0.4
cycler==0.10.0
cymem==2.0.2
decorator==4.4.0
gast==0.2.2
grpcio
h5py
idna
imageio
joblib
Keras
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
matplotlib
mpmath
murmurhash
networkx
nltk
nose
numpy
pandas
Pillow
plac
preshed
protobuf
pycurl
pygobject
pyparsing
python-apt
python-dateutil
pytz
PyWavelets
PyYAML
requests
scikit-image
scikit-learn
scipy
six
spacy
srsly
sympy
termcolor
thinc
torch
torchvision
tqdm
unattended-upgrades
urllib3
wasabi
Werkzeug
